@model BulkyWeb.Models.ViewModels.ProductVM

<form method="post">
    <input asp-for="Product.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete product</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" type="text" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-0 text-dark"></label>
            <input asp-for="Product.Description" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ISBN" class="p-0 text-dark"></label>
            <input asp-for="Product.ISBN" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Author" class="p-0 text-dark"></label>
            <input asp-for="Product.Author" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0 text-dark"></label>
            <input asp-for="Product.ListPrice" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price50" class="p-0 text-dark"></label>
            <input asp-for="Product.Price50" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price100" class="p-0 text-dark"></label>
            <input asp-for="Product.Price100" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ImageUrl" class="p-0 text-dark"></label>
            <input asp-for="Product.ImageUrl" type="text" class="form-control text-dark" />
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.CategoryId" class="p-0 text-dark"></label>
            <select asp-for="Product.CategoryId" asp-items="ViewBag.CategoryList" class="form-control border-0 shadow">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Delete" class="btn btn-secondary" style="width-150px">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}